@inherits LayoutComponentBase

<link rel="stylesheet" href="/styles/gdc_auth.css" />

<RadzenDialog />
<RadzenNotification />

<div class="main-container-login">
	@Body
</div>

<RadzenFooter>
	<RadzenText TextStyle="TextStyle.Caption"><strong>Gestor de Correspondencia</strong> V1.0.0.2508 | COPYRIGHT 2025 ©</RadzenText>
</RadzenFooter>
