@page "/reinicio-de-contraseña"
@layout Layout.LoginLayout

@using GestorCorrespondencia.Frontend.Model.Auth.RecuperarPassword

<div class="login-card">
    <span class="title">Gestor de Correspondencia</span>
    <span class="title-2">Reiniciar contraseña</span>
    <div class="accent-bar"></div>
    <p class="subtitle">Ingresa tu código de empleado</p>

    <RadzenTemplateForm Data="@formulario" Submit="@OnSubmit" TItem="FormularioReiniciarPassword" class="form-cambio-password">

        <RadzenRow>
            <RadzenFormField Text="Código" Variant="Variant.Filled" class="w-100 rz-text-align-left">
                <RadzenNumeric @bind-Value="formulario.Codigo" Name="Codigo" class="form-input" autocomplete="off" />
            </RadzenFormField>
            <RadzenRequiredValidator Text="Campo requerido" Component="Codigo" Style="margin-bottom:10px" />
        </RadzenRow>

        <RadzenRow>
            <RadzenFormField Text="Contraseña" Variant="Variant.Filled" class="w-100 rz-text-align-left">
                <RadzenPassword @bind-Value="formulario.Password" Name="Password" class="form-input" automcomplete="off" />
            </RadzenFormField>
            <RadzenRequiredValidator Text="Campo requerido" Component="Password" />
        </RadzenRow>

        <RadzenRow>
            <RadzenFormField Text="Confirmar Contraseña" Variant="Variant.Filled" class="w-100 rz-text-align-left">
                <RadzenPassword @bind-Value="formulario.RepeatPassword" Name="Password" class="form-input" automcomplete="off" />
            </RadzenFormField>
            <RadzenRequiredValidator Text="Campo requerido" Component="Password" />
        </RadzenRow>

        <RadzenRow class="rz-display-flex rz-justify-content-center">
            <RadzenButton Text="Cambiar Contraseña" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" class="cambio-password-submit" />
        </RadzenRow>

    </RadzenTemplateForm>

    <p class="login-link">¿Ya cuentas con acceso?<br /><RadzenLink Text="Ingresa Aqui" Path="/" class="login" /></p>

</div>

@code {

	FormularioReiniciarPassword formulario = new FormularioReiniciarPassword();

	void OnSubmit() {

	}

}