@page "/recuperar"
@layout Layout.LoginLayout

@using GestorCorrespondencia.Frontend.Model.Auth.RecuperarPassword

<div class="login-card">
    <span class="title">Gestor de Correspondencia</span>
    <span class="title-2">Solicitar reinicio de contraseña</span>
    <div class="accent-bar"></div>
    <p class="subtitle">Ingresa tu código de empleado</p>

    <RadzenTemplateForm Data="@solicitud" Submit="@OnSubmit" TItem="FormularioSolicitudReiniciaPassword" class="form-solicitud">

        <RadzenRow>
            <RadzenFormField Text="Código" Variant="Variant.Filled" class="w-100 rz-text-align-left">
                <RadzenNumeric @bind-Value="solicitud.Codigo" Name="Codigo" class="form-input" autocomplete="off" />
            </RadzenFormField>
            <RadzenRequiredValidator Text="Campo requerido" Component="Codigo" Style="margin-bottom:10px" />
        </RadzenRow>

        <RadzenRow class="rz-display-flex rz-justify-content-center">
            <RadzenButton Text="Solicitar" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" class="solicitud-submit" />
        </RadzenRow>

    </RadzenTemplateForm>

    <p class="login-link">¿Ya cuentas con acceso?<br /><RadzenLink Text="Ingresa Aqui" Path="/" class="login" /></p>

</div>

@code {
    FormularioSolicitudReiniciaPassword solicitud = new FormularioSolicitudReiniciaPassword();

    void OnSubmit() {

    }

}