<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GestorCorrespondencia.Frontend.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet @rendermode="InteractiveServer" />
    <RadzenTheme Theme="material3" @rendermode="InteractiveServer" />

    <link rel="stylesheet" href="/css/material3-base.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/fonts/MaterialSymbolsOutlined.woff2" />

    <link rel="stylesheet" href="/styles/gdc_styles.css" />
    <link rel="stylesheet" href="/styles/gdc_styles_material3.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
