@page "/recuperar"
@layout LoginLayout

@using GestorCorrespondencia.Frontend.Functionalities.RecoveryPassword.Model

<div class="login-card">
    <span class="title">Gestor de Correspondencia</span>
    <span class="title-2">Solicitar reinicio de contraseña</span>
    <div class="accent-bar"></div>
    <p class="subtitle">Ingresa tu código de empleado</p>

    <RadzenTemplateForm Data="@Request" Submit="@OnSubmit" TItem="ResetPasswordRequestForm" class="form-solicitud">

        <DataAnnotationsValidator />

        <RadzenRow>
            <RadzenFormField Text="Código" Variant="Variant.Filled" class="w-100 rz-text-align-left">
                <RadzenNumeric @bind-Value="Request.EmployeeCode" Name="EmployeeCode" class="form-input" ShowUpDown="false" autocomplete="off" />
            </RadzenFormField>
            <ValidationMessage For="@(() => Request.EmployeeCode)" class="rz-message rz-messages-error" />
        </RadzenRow>

        <RadzenRow class="rz-display-flex rz-justify-content-center">
            <RadzenButton Text="Solicitar" IsBusy="@busy" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" class="solicitud-submit" />
        </RadzenRow>

    </RadzenTemplateForm>

    <p class="login-link">¿Ya cuentas con acceso?<br /><RadzenLink Text="Ingresa Aqui" Path="/" class="login" /></p>

</div>