@page "/correspondencia/todos_los_consolidados"

<SessionValidator title="Todos los consolidados" path="/correspondencia/todos_los_consolidados">
	<Loader Loading="@loading" />
	<div class="main-container">
		<RadzenText Text="Todos los consolidados" class="form-title" />

		<RadzenDataGrid Data="@consolidations" AllowPaging="true" PageSize="10" ColumnWidth="200px"
						AllowRowSelectOnRowClick="true" SelectionMode="DataGridSelectionMode.Single"
						FilterMode="FilterMode.CheckBoxList" AllowSorting="true" AllowFiltering="true"
						ApplyFilterText="Aplicar" ClearFilterText="Limpiar" EmptyText="No hay consolidados para mostrar">
			<Columns>
				<RadzenDataGridColumn Property="ConsolidatedId" Title="Rastreo" />
				<RadzenDataGridColumn Property="SenderLocation" Title="Origen" />
				<RadzenDataGridColumn Property="CreatedBy" Title="Remitente" />
				<RadzenDataGridColumn Property="DestinationLocation" Title="Destino" />
				<RadzenDataGridColumn Property="CreatedAt" title="Fecha" />
				<RadzenDataGridColumn Filterable="false" Sortable="false" Width="61px">
					<Template Context="Detail">
						<RadzenButton Click="@(() => CustomDialogService.OpenViewConsolidationDetailAsync(Detail.ConsolidatedId, false))" Icon="list" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
					</Template>
				</RadzenDataGridColumn>
			</Columns>
		</RadzenDataGrid>
	</div>
</SessionValidator>