@page "/principal/home"

@inject IJSRuntime JS
<h3>Escáner Global</h3>

<p><strong>Último código escaneado:</strong> @LastScanned</p>
<RadzenTextBox @bind-Value="@LastScanned" />

@code {
    private string buffer = "";
    private string LastScanned = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("startGlobalScanner", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public async Task OnScannerInput(string code)
    {
        LastScanned = code;
        buffer = "";
        await ProcessScannedCode(code);
        StateHasChanged();
    }

    private Task ProcessScannedCode(string code)
    {
        Console.WriteLine($"Código procesado: {code}");
        return Task.CompletedTask;
    }
}

@using GestorCorrespondencia.Frontend.Shared.Components
<SessionValidator title="Gestor de Correspondencia" path="/principal/home">
	<ClaimsViewer />
</SessionValidator>