@page "/solicitar-acceso"

@layout LoginLayout

<PageTitle>Solicitar Acceso - Gestor de Correspondencia</PageTitle>

<div class="request-access-card">
    <span class="title">Gestor de Correspondencia</span>
    <br />
    <span class="title-2">Solicitar acceso</span>
    <div class="accent-bar"></div>
    <p class="subtitle">@subtitle</p>

    <RadzenTabs Change=@OnChangeTab TabPosition="TabPosition.Left" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Organización">
                <ADAccessRequest />
            </RadzenTabsItem>
            <RadzenTabsItem Text="WorkBeat">
                <WBAccessRequest />
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

    <p class="login-link">¿Ya cuentas con acceso?<br /><RadzenLink Text="Ingresa Aqui" Path="/" class="login" /></p>

</div>

@code {
    string subtitle = "Ingresa tus datos de la organización";

    void OnChangeTab(int index)
    {
        if (index == 0)
        {
            subtitle = "Ingresa tus datos de la organización";
        }
        if(index == 1){
            subtitle = "Ingresa tu código de empleado";
        }
    }

}