	@using GestorCorrespondencia.Frontend.Shared.Components.CreatePackageIncident.Components
	@using GestorCorrespondencia.Frontend.Shared.Components.ConsolidationReceiveList.Model

	<Loader Loading="@loading" />

	<RadzenRow>
		<RadzenColumn>
			<p>
				<strong>Origen:</strong> @consolidated!.DestinationLocation <br />
				<strong>Remitente:</strong> @consolidated.CreatedBy
			</p>
		</RadzenColumn>
		<RadzenColumn>
			<p>
				<strong>Fecha:</strong> @consolidated!.CreatedAt
			</p>
		</RadzenColumn>
	</RadzenRow>

	<RadzenDataGrid Data="@consolidated!.Detail" TItem="PendingConsolidationDetail"
					AllowFiltering="true" ApplyFilterText="Aplicar" ClearFilterText="Limpiar" EmptyText="No hay paquetes en este consolidado"
					FilterMode="FilterMode.CheckBoxList" FilterPopupRenderMode="PopupRenderMode.OnDemand"
					FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
					AllowSorting="true" ColumnWidth="200px">
		<Columns>
			<RadzenDataGridColumn Property="PackageId" Title="No. Rastreo" />
			<RadzenDataGridColumn Property="SenderLocation" Title="Origen" />
			<RadzenDataGridColumn Property="Sender" Title="Remitente" />
			<RadzenDataGridColumn Property="DestinationLocation" Title="Destino" />
			<RadzenDataGridColumn Property="Addressee" Title="Destinatario" />
			<RadzenDataGridColumn Property="CreatedAt" Title="Fecha de Envío" />
			<RadzenDataGridColumn Width="120px" Filterable="false" Sortable="false" TextAlign="TextAlign.Right">
				<Template Context="Package">
					<RadzenButton Click="@(() => CreateIncidentDialogAsync(Convert.ToInt32(Package.PackageId)))" Icon="add_alert" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
				</Template>
			</RadzenDataGridColumn>
		</Columns>
	</RadzenDataGrid>

	<RadzenRow class="rz-mt-3 gap-3 rz-justify-content-right">
		<RadzenButton Text="Cancelar" ButtonStyle="ButtonStyle.Danger" Click="Cancel" />
		<RadzenButton Text="Recibir consolidado" ButtonStyle="ButtonStyle.Primary" />
	</RadzenRow>