@Message

<div class="rz-dialog-alert-buttons rz-mt-6">
    <RadzenButton Text="@CancelText" ButtonStyle="ButtonStyle.Danger" ButtonType="ButtonType.Button" Click="Cancel" class="rz-me-2" />
    <RadzenButton Text="@ConfirmText" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Button" Click="Confirm" />
</div>