@using Radzen
@using Radzen.Blazor
@inject DialogService DialogService

@using GestorCorrespondencia.Frontend.Shared.Model

<pre style="font-family: Helvetica, Arial;
			 color: var(--bs-body-color);
			 font-size: var(--bs-body-font-size);
			 font-weight: var(--bs-body-font-weight);
			 letter-spacing: var(--rz-dialog-title-letter-spacing);
			 line-height: var(--bs-body-line-height);
			 margin-block-end: 1.5rem;">
        @strErrores
</pre>

    <div class="rz-dialog-alert-buttons">
        <RadzenButton Text="Aceptar" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Button" Click="@((args) => DialogService.Close(true))" />
    </div>

    @code {
        [Parameter] public ApiResponseNotAcceptable? responseNotAcceptable { get; set; }

        public string strErrores = "";

        protected override void OnInitialized()
        {
            strErrores += $"{responseNotAcceptable!.Detail}\n";

            if (responseNotAcceptable?.Errors != null && responseNotAcceptable.Errors.Any())
            {
                foreach (var campoError in responseNotAcceptable.Errors)
                {
                    var campo = campoError.Key;
                    var mensajes = campoError.Value;
                    foreach (var mensaje in mensajes)
                    {
                        strErrores += $"• {mensaje}\n";
                    }
                }
            }
        }
    }
